# {{ ansible_managed }}

{% for profile in backup_profiles %}
{{ backup_logdir }}/{{ profile.name }}.log {
  compress
  copytruncate
  daily
  dateext
  missingok
  rotate 7
  size 10M
}
{% endfor %}
